[Unit]
Description=Active Thermal Fan Service
After=local-fs.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=8
User=root
ExecStart=/usr/sbin/fanctl

[Install]
WantedBy=basic.target
